body {
  margin: 0px;
}

li {
  list-style: none;
}

.med-padding {
  padding-bottom: 10px;
}

.sml-padding {
  padding-bottom: 5px;
}

.bold-red {
  color: rgb(187, 46, 31);
  text-decoration: none;
  font-weight: bold;
}

.row {
  display: flex;
  flex-direction: row;
  padding-inline-start: 0px;
}

.container {
  min-height: 100%;
  padding: 40px;
}

.dark {
  background-color: black;
  color: gainsboro;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}

.meta-link {
  color: inherit;
}

.nav-btn {
  font-size: 30px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.nav-btn:focus {
  outline: none;
}

.comment {
  padding: 10px;
  margin-bottom: 10px;
}

.comment-color-light {
  background: lightgray;
}

.comment-color-dark {
  background: rgba(128, 128, 128, 0.25);
  color: gainsboro;
}

.comment p {
  margin-top: 0;
}

.big-title {
  font-size: 32px;
}

.big-by {
  font-size: 16px;
}

.user-name {
  font-size: 32px;
  font-weight: bold;
}
.user-meta-data {
  color: gray;
}
