li {
  list-style: none;
}

.row {
  display: flex;
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.nav-link {
  margin-right: 15px;
  font-size: 20px;
  font-weight: bold;
  text-decoration: none;
  color: inherit;
}
